# Project
.env
.venv
backend/.venv
backend/.env
.env
*.env
!example.env

# IDE
.idea/

# AI Tools
.claude
.ipm

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Node
frontend/node_modules/
node_modules/
dist/
build/
*.log
